
$divMaxWidth: 1920px;
$containerMaxWidth: 1290px;
$colorBlack: #202020;
$colorWite: #FFFFFF;
$colorOreng:#FF6E30;
$color2Oreng: #BC572B;
$color3Oreng: #CE4307;
$colorGrey:#999999;
$color2Grey:#E9E9E9;
$color3Grey: #CACACA;
$color4Grey:  #4A4A4A;
$colorRedWhite: #F06666;
$transittions: all 0.5s linear;